.page3 {
	margin: 0;
	padding: 0;
	background-image: url(background1.svg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	width: fit-content;
	position: absolute;
}

.page3 h1 {
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

.page3 ul {
	margin: 0;
	padding: 0;
	padding-top: 25%;
	list-style: none;
	display: flex;
	position: absolute;
}

.page3 ul li {
	margin: 0 40px;
}

.page3 ul li a .fa {
	font-size: 40px;
	color: #555;
	line-height: 80px;
	transition: 0.5s;
}

.page3 ul li a {
	position: relative;
	display: block;
	width: 160%;
	height: 90%;
	background: #fff;
	text-align: center;
	transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
	transition: 0.5s;
	box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.page3 ul li a::before {
	content: "";
	position: absolute;
	top: 10px;
	left: -20px;
	height: 100%;
	width: 20px;
	background: #b2b2b2;
	transition: 0.5s;
	transform: rotate(0deg) skewY(-45deg);
}

.page3 ul li a::after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: -10px;
	height: 20px;
	width: 100%;
	background: #e5e5e5;
	transition: 0.5s;
	transform: rotate(0deg) skewX(-45deg);
}

.page3 ul li a:hover {
	transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
	box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.page3 ul li:hover .fa {
	color: #fff;
}

.page3 ul li:hover:nth-child(1) a {
	background-color: #3b5999;
}

.page3 ul li:hover:nth-child(1) a::before {
	background-color: #2f477a;
}

.page3 ul li:hover:nth-child(1) a::after {
	background-color: #4e69a3;
}

.page3 ul li:hover:nth-child(2) a {
	background-color: #55acee;
}

.page3 ul li:hover:nth-child(2) a::before {
	background-color: #4489be;
}

.page3 ul li:hover:nth-child(2) a::after {
	background-color: #66b4ef;
}

.page3 ul li:hover:nth-child(3) a {
	background-color: #dd4b39;
}

.page3 ul li:hover:nth-child(3) a::before {
	background-color: #b03c2d;
}

.page3 ul li:hover:nth-child(3) a::after {
	background-color: #e05d4c;
}

.page3 ul li:hover:nth-child(4) a {
	background-color: #0077b5;
}

.page3 ul li:hover:nth-child(4) a::before {
	background-color: #005f90;
}

.page3 ul li:hover:nth-child(4) a::after {
	background-color: #1984bc;
}

.page3 ul li:hover:nth-child(5) a {
	background-color: #e4405f;
}

.page3 ul li:hover:nth-child(5) a::before {
	background-color: #b6334c;
}

.page3 ul li:hover:nth-child(5) a::after {
	background-color: #e6536f;
}
